body{
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -100px;
}

li {
    width: 518px; 
    left: -50px;
    top: 60px;
}


li:hover{
    background-color:lightblue;
}

.taken{
    background-color:lightblue;
    text-decoration:line-through
}